{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": "off"
  }
}
